.container{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;

    height: 80vh;
    border: 3px solid #DFCAA0;
    border-radius: 12px;

    background-color: #DFCAA0;
}

.box{
    width: 800vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 70px;
    width: 480px;

    border: 3px solid #71887e;
    border-radius: 12px;
    background-color: #71887e;
}

.compControls{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-right: auto;
    margin-left: 30px;
}

.item {
    display: flex;
    flex-direction: column;
}

.componentButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    height: 40px;
    width: 100px;

    background-color: #878871;
    border: 3px solid #878871;
    border-radius: 12px;
    
    cursor: pointer;
}
.componentButton:hover{
    background-color: #999b7e;
}

.componentLabel{
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 120px;
    margin-top: 15px;

    height: 40px;
    width: 650px;

    background-color: #828554;
    border: 3px solid #828554;
    border-radius: 12px;
}

.controls{
    position: relative;
}

.returnButton{
    position: relative;
    cursor: pointer;
}